/* CSS style for printing terms issued from HOL  */
/* ******************************** /

/* DEFAULTS for everyone */

*{
   font-size: 12pt; 
   font-family: "Palatino", serif;
   color: #000000;	
}

/* ROOT ELEMENT */
Term { 
   margin-right: 10.000000pt;
   margin-left: 20.000000pt;
 }

Term {
   display: block;
}

Term:before { 
  content:"Term " attr(name);
  color: red;
}

/* logical expressions */

ExprLogicalImplies {  
 display: block;
}
ExprLogicalImplies:before{ 
  content:"(==> ";
}
ExprLogicalImplies:after{ 
  content:") ";
}

ExprLogicalOr:before {
content:"(or ";
}
ExprLogicalOr:after {
content:") ";
}

ExprLogicalAnd:before {
content:"(and ";
}
ExprLogicalAnd:after {
content:") ";
}
 
ExprLogicalNot:before {
content:"(not ";
}
ExprLogicalNot:after {
content:") ";
}

/* integer expressions */

ExprPlus:before {
  content:"( + ";
}
ExprPlus:after {
  content:" ) ";
}

ExprMinus:before {
content:"( - ";
}
ExprMinus:after {
content:" ) ";
}

ExprTimes:before {
  content:"( * ";
}
ExprTimes:after {
  content:" ) ";
}

ExprDiv:before {
  content:"( / ";
}
ExprDiv:after {
  content:" ) ";
}

ExprIntegerLiteral[value]:before { 
  content:attr(value);
}

/* comparison operators */

ExprEqual:before {
content:"(= ";
} 
ExprEqual:after {
  content:") ";
}
 
ExprGreat:before {
content:"(> ";
} 
ExprGreat:after {
content:") ";
} 

ExprGreatEq:before {
content:"(>= ";
} 
ExprGreatEq:after {
content:") ";
} 

ExprLess:before {
content:"(< ";
} 
ExprLess:after {
content:") ";
}
 
ExprLessEq:before {
content:"(<= ";
} 
ExprLessEq:after {
content:") ";
}

/* variables */

ExprIdent[name]:before { 
  content:attr(name);
}

