*Theory.sig
*Theory.sml
*.uo
*.ui
*.o
.HOLMK
*.lex.sml
*.grm.sig
*.grm.sml
*.exe
*~
build-log
svn-update
developers/generateBuildSummary
bin/Holmake
bin/build
bin/hol
bin/hol.bare
bin/hol.bare.noquote
bin/hol.noquote
bin/unquote
bin/hol.builder
bin/hol.builder0
sigobj/*
tools-poly/Holmake/Systeml.sml
tools/hol-mode.el
tools/quote-filter/filter.sml
tools/vim/filetype.vim
tools/vim/hol-config.sml
tools/vim/hol.vim
tools/vim/vimhol.sml
tools-poly/build-logs
tools/build-stamp
tools/lastbuildoptions
help/Docfiles/*.adoc
help/Docfiles/HTML/*
help/HOLindex.html
help/HOL.Help
help/src-sml/htmlsigs
help/src-sml/index.tex
help/src-sml/index.txt
help/src-sml/Parser.grm.desc
src/emit/ML/*
src/emit/Caml/*
src/quotient/src/*.html
src/quotient/src/*.lst
src/HolSat/sat_solvers/zc2hs/*.h
src/HolSat/sat_solvers/zc2hs/zc2hs
src/HolSat/sat_solvers/minisat/minisat
src/HolSat/sat_solvers/minisat/depend.mak
src/parse/base_lexer.sml
src/TeX/holindex.grm-sig.sml
src/bool/DiskFiles.grm-sig.sml
src/bool/DiskFiles.grm.desc
