*Script
*Theory.sig
*Theory.sml
*.uo
*.ui
*.o
.HOLMK
*.lex.sml
*.grm.sig
*.grm.sml
*.grm-sig.sml
*.grm.desc
*.exe

# LaTeX guff
*.aux
*.log
*.toc
*.dvi
*.out
*.idx
*.ilg
*.ind
*.bbl
*.blg
*.tde
*.tid
*.tix
*.hix
*.fdb_latexmk

*~
build-log
svn-update
developers/generateBuildSummary
developers/comparelogs
bin/Holmake
bin/build
bin/hol
bin/hol.bare
bin/hol.bare.noquote
bin/hol.noquote
bin/unquote
bin/hol.builder
bin/hol.builder0
bin/heapname
bin/buildheap

developers/docfiles/*.txt

tools*/Holmake/Systeml.sml
tools/Holmake/Lexer.sml
tools/Holmake/Parser.sig
tools/Holmake/Parser.sml

sigobj/*
tools/hol-mode.el
tools/quote-filter/filter.sml
tools/quote-filter/quote-filter
tools/quote-filter/selftest
tools/vim/filetype.vim
tools/vim/hol-config.sml
tools/vim/hol.vim
tools/vim/vimhol.sml
tools-poly/build-logs
tools/build-stamp
tools/lastbuildoptions
tools/build-logs

help/Docfiles/*.adoc
help/Docfiles/HTML/*
help/HOLindex.html
help/HOL.Help
help/src-sml/htmlsigs
help/src-sml/index.tex
help/src-sml/index.txt
help/theorygraph/*.html
help/theorygraph/theories.dot
help/theorygraph/theories.imap
help/theorygraph/theories.jpg
help/theorygraph/theories.pdf

src/bool/SharingTables.*
src/emit/ML/*
src/emit/Caml/*
src/quotient/src/*.html
src/quotient/src/*.lst
src/HolSat/sat_solvers/zc2hs/*.h
src/HolSat/sat_solvers/zc2hs/zc2hs
src/HolSat/sat_solvers/minisat/minisat
src/HolSat/sat_solvers/minisat/depend.mak
src/pair/help
src/parse/base_lexer.sml
src/quotient/examples/*/*.html
src/quotient/examples/*/*.lst
src/quotient/examples/*.html
src/quotient/examples/*.lst
src/res_quan/help/thms/
src/string/help
src/TeX/holindex-demo.pdf
src/TeX/holindex-demo.ps

Manual/*/*.pdf
Manual/*/*.ps
Manual/Reference/entries.tex

examples/machine-code/lisp/*.s

examples/muddy/muddyC/Makefile
examples/muddy/muddyC/buddy/src/libbdd.a
examples/muddy/muddyC/muddy.so

examples/ordinal/ordinalML.*

examples/computability/lambda/computability-heap

