*Theory.sig
*Theory.sml
*.uo
*.ui
.HOLMK
*.lex.sml
*.grm.sig
*.grm.sml
*.exe
bin/Holmake
bin/build
bin/hol
bin/hol.bare
bin/hol.bare.noquote
bin/hol.noquote
bin/unquote
sigobj/*
tools-poly/Holmake/Systeml.sml
tools/hol-mode.el
tools/quote-filter/filter.sml
tools/vim/filetype.vim
tools/vim/hol-config.sml
tools/vim/hol.vim
tools/vim/vimhol.sml
*~
