drules.tex
HolSat.tex
HolQbf.tex
HolSmt.tex
QuantHeuristics.tex
enumfset.tex
libraries.tex
tactics.tex
theories.tex
system.tex
definitions.tex
PatternMatchesLib.tex
conv.tex
/math.tex
simplifier.tex
system.md
drules.md
conv.md
tactics.md
theories.md
math.md
definitions.md
libraries.md
simplifier.md
PatternMatchesLib.md
HolSat.md
HolQbf.md
HolSmt.md
QuantHeuristics.md
enumfset.md
modern-syntax.tex
modern-syntax.md
misc.tex
misc.md
latex-munger.tex
latex-munger.md
chapters-include.tex
book-title.tex
SUMMARY.md
references.md
cite-labels.tsv
labels.tsv
figs/0.svg
figs/1.svg
figs/lsl.svg
figs/lsr.svg
figs/asr.svg
figs/ror.svg
figs/rrx.svg
