automata.md
automata.tex
euclid.tex
euclid.md
parity.tex
parity.md
ml.tex
combin.tex
combin.md
proof-tools.tex
proof-tools.md
writinghol.tex
writinghol.md
more-examples.tex
more-examples.md
intro.tex
intro.md
ml.md
SUMMARY.md
chapters-include.tex
book-title.tex
references.md
cite-labels.tsv
labels.tsv
figs/*.svg
figs/*.aux
figs/*.log
figs/*.pdf
