
BODY {
  background-color: white;
  padding: 0.5em 1em 0.5em 1em;
}

DIV.TYPE
 {padding-left: 0.5em;
  padding-right: 0.5em;
  border: solid;
  border-color : black;
  color: crimson;
  font-weight: bold;
  font-family: Courier, monospace;
  font-size: large}

DIV.FIELD-BODY
 {margin-bottom:1em}

DIV.XMPL
 {font-family: Courier, monospace;
  margin-bottom:1em}

SPAN.BRKT
 {color: blue;
  font-family: Courier, monospace}

SPAN.FIELD-NAME
 {color: black;
  font-weight: bold}

div.HOL
 {font-style : italic}


