(* Example.

key = (0wx00, 0wx01, 0wx02, 0wx03, 0wx04, 0wx05, 0wx06, 0wx07,
       0wx08, 0wx09, 0wx0a, 0wx0b, 0wx0c, 0wx0d, 0wx0e, 0wx0f) : state;

plaintext = (0wx00,0wx11,0wx22,0wx33,0wx44,0wx55,0wx66,0wx77,
             0wx88,0wx99,0wxaa,0wxbb,0wxcc,0wxdd,0wxee,0wxff) : state

ciphertext = (0wx69, 0wxC4, 0wxE0, 0wxD8, 0wx6A, 0wx7B, 0wx4, 0wx30, 
              0wxD8, 0wxCD, 0wxB7, 0wx80, 0wx70, 0wxB4, 0wxC5, 0wx5A) :state;
*)

val _ = quietdec := true;
load "aesTheory";
open aesTheory;
val _ = quietdec := false;


val key = Term 
   `((F,F,F,F,F,F,F,F),
     (F,F,F,F,F,F,F,T),
     (F,F,F,F,F,F,T,F),
     (F,F,F,F,F,F,T,T),
     (F,F,F,F,F,T,F,F),
     (F,F,F,F,F,T,F,T),
     (F,F,F,F,F,T,T,F),
     (F,F,F,F,F,T,T,T),
     (F,F,F,F,T,F,F,F),
     (F,F,F,F,T,F,F,T),
     (F,F,F,F,T,F,T,F),
     (F,F,F,F,T,F,T,T),
     (F,F,F,F,T,T,F,F),
     (F,F,F,F,T,T,F,T),
     (F,F,F,F,T,T,T,F),
     (F,F,F,F,T,T,T,T)):state`;

val plaintext = Term
  `((F,F,F,F,F,F,F,F),
    (F,F,F,T,F,F,F,T),
    (F,F,T,F,F,F,T,F),
    (F,F,T,T,F,F,T,T),
    (F,T,F,F,F,T,F,F),
    (F,T,F,T,F,T,F,T),
    (F,T,T,F,F,T,T,F),
    (F,T,T,T,F,T,T,T),
    (T,F,F,F,T,F,F,F),
    (T,F,F,T,T,F,F,T),
    (T,F,T,F,T,F,T,F),
    (T,F,T,T,T,F,T,T),
    (T,T,F,F,T,T,F,F),
    (T,T,F,T,T,T,F,T),
    (T,T,T,F,T,T,T,F),
    (T,T,T,T,T,T,T,T)) : state`;

computeLib.add_funs [RoundOpTheory.ConstMult_def];

val M = Term`let (encrypt,decrypt) = AES ^key 
              in decrypt(encrypt ^plaintext) = ^plaintext`;
val M1 = Term`let (encrypt,decrypt) = AES ^key 
               in encrypt ^plaintext`;
val M2 = Term`AES ^key`;

(*
runtime: 124.900s,    gctime: 8.019s,     systime: 124.900s.
HOL primitive inference steps: 3182617.
*)
Count.apply EVAL M;
Count.apply EVAL M1;
Count.apply EVAL M2;


(* Alternative decryptor, much slower *)

val N = Term`let (encrypt,decrypt) = altAES ^key 
              in decrypt(encrypt ^plaintext) = ^plaintext`;

val N1 = Term`let (encrypt,decrypt) = altAES ^key 
              in encrypt ^plaintext`

val N2 = Term`altAES ^key`;

(* 
runtime: 208.760s,    gctime: 13.208s,     systime: 208.760s.
HOL primitive inference steps: 5397003.
*)
Count.apply EVAL N;  
Count.apply EVAL N1;
Count.apply EVAL N2;
Count.apply EVAL N3;



(*  In ML:

  val key = 
    ((false,(false,(false,(false,(false,(false,(false,false))))))),
    ((false,(false,(false,(false,(false,(false,(false,true))))))),
    ((false,(false,(false,(false,(false,(false,(true,false))))))),
    ((false,(false,(false,(false,(false,(false,(true,true))))))),
    ((false,(false,(false,(false,(false,(true,(false,false))))))),
    ((false,(false,(false,(false,(false,(true,(false,true))))))),
    ((false,(false,(false,(false,(false,(true,(true,false))))))),
    ((false,(false,(false,(false,(false,(true,(true,true))))))),
    ((false,(false,(false,(false,(true,(false,(false,false))))))),
    ((false,(false,(false,(false,(true,(false,(false,true))))))),
    ((false,(false,(false,(false,(true,(false,(true,false))))))),
    ((false,(false,(false,(false,(true,(false,(true,true))))))),
    ((false,(false,(false,(false,(true,(true,(false,false))))))),
    ((false,(false,(false,(false,(true,(true,(false,true))))))),
    ((false,(false,(false,(false,(true,(true,(true,false))))))),
    (false,(false,(false,(false,(true,(true,(true,true))))))))))))))))))))))

  val plaintext = 
    ((false,(false,(false,(false,(false,(false,(false,false))))))),
    ((false,(false,(false,(true,(false,(false,(false,true))))))),
    ((false,(false,(true,(false,(false,(false,(true,false))))))),
    ((false,(false,(true,(true,(false,(false,(true,true))))))),
    ((false,(true,(false,(false,(false,(true,(false,false))))))),
    ((false,(true,(false,(true,(false,(true,(false,true))))))),
    ((false,(true,(true,(false,(false,(true,(true,false))))))),
    ((false,(true,(true,(true,(false,(true,(true,true))))))),
    ((true,(false,(false,(false,(true,(false,(false,false))))))),
    ((true,(false,(false,(true,(true,(false,(false,true))))))),
    ((true,(false,(true,(false,(true,(false,(true,false))))))),
    ((true,(false,(true,(true,(true,(false,(true,true))))))),
    ((true,(true,(false,(false,(true,(true,(false,false))))))),
    ((true,(true,(false,(true,(true,(true,(false,true))))))),
    ((true,(true,(true,(false,(true,(true,(true,false))))))),
    (true,(true,(true,(true,(true,(true,(true,true))))))))))))))))))))));

*)
